* {
    margin: 0;
    box-sizing: border-box;
}

.joystick-container {
    display: flex;
    justify-content: center;
}
.btn-container {
    display: flex;
    gap: 10px;
    justify-content: center;
}
